/* container整体样式 */
#container{
	
}

/* 封面外围视口样式 */
#coverViewPort{
	width: 100%;
	height: 600px;
	overflow: hidden;
}

/* 封面具体内容样式 */
#coverImg{
	height: inherit;
	background-image: url("https://images.unsplash.com/photo-1541789094913-f3809a8f3ba5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	box-shadow: inset rgba(36, 36, 36, 0.1) 0 -10px 10px 2px;
}

/* 内容整体样式 */
#content{
	width: 1100px;
	margin: 0 auto;
	margin-top: 100px;
	display: flex;
	justify-content: space-between;
}

/* 内容列表样式 */
#contentList{
	width: 800px;
	margin-bottom: 200px;
}

/* article元素样式 */
.article{
	width: inherit;
	height: 200px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 8px 1px rgb(219, 227, 227);
}

/* 文章封面视口样式 */
.articleCoverViewPort{
	width: 240px;
	height: inherit;
	float: left;
	border-radius: inherit;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	overflow: hidden;
}

/* 文章封面样式 */
.articleCoverImg{
	height: inherit;
	background-image: url(../img/download.png);
	background-size: cover;
	background-repeat: no-repeat;
}

/* 文章具体信息外部框盒样式 */
.articleInfoBox{
	width: 560px;
	float: left;
}

/* 文章具体信息内容样式 */
.articleInfo{
	margin: 0 40px;
}

/* 文章标题样式 */
.articleTitle{
	font-size: 20px;
	color: rgb(45, 45, 45);
	border-bottom: 2px solid rgba(0, 0, 0, 0.2);
	top: 40px;
	padding: 10px 0;
}

/* 文章标题占位div（动画用）样式 */
.articleTitlePlaceHolder{
	width: 0;
	border-bottom: 2px solid rgb(255, 188, 52);
	position: relative;
	top: 38px;
	padding: 0 0;
	z-index: 997;
}

/* 文章描述性信息样式 */
.articleDescription{
	top: 50px;
	color: rgb(86, 86, 86);
}

/* 文章下属信息样式 */
.articleSubInfo{
	font-size: 14px;
	color: rgb(144, 144, 144);
	top: 100px;
	display: flex;
}

/* 文章下属信息中发布时间图标样式 */
.articleDate::before{
	content: url(../img/date.png);
	margin-right: 6px;
	position: relative;
	top: 2px;
}

/* 下属信息中文章标签样式 */
.articleTags{
	left: 60px;
}

/* 下属信息中文章标签前图标样式 */
.articleTags::before{
	content: url(../img/tag.png);
	position: relative;
	margin-right: 6px;
	top: 2px;
}

/* 头像闪动样式条 */
#shiningBar{
	width: inherit;
	height: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	top: -30px;
}

/* 大标题 */

#coverImg{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.topTitle{
	font-size: 55px;
	color: #fff;
	opacity: 0.8;
}

@media screen and (max-width: 1100px){
	#extraInfoList{
		display: none;
	}
	
	#content{
		width: 100%;
	}
}

@media screen and (max-width: 800px){
	#coverViewPort{
		width: 800px;
	}
}

@media screen and (max-width: 480px) {
	
	body{
		width: 100%;
	}
	
	#mainPage{
		margin-left: 20px;
	}
	
	#content{
		margin-top: 50px;
	}
	
	#contentList{
		width: 100%;
	}
	
	#extraInfoList{
		display: none;
	}
	
	#coverViewPort{
		width: 100%;
		height: 250px;
	}
	
	.topTitle{
		font-size: 25px;
	}
	
	.article{
		width: 92%;
		float: none;
		height: initial;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	
	.articleCoverViewPort{
		float: inherit;
		height: 180px;
		width: initial;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		overflow: hidden;
		
	}
	
	.articleInfoBox{
		float: inherit;
		position: initial;
		width: initial;
	}
	
	.articleInfoBox p{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	
	.articleSubInfo{
		position: initial;
		padding-top: 20px;
		padding-bottom: 10px;
	}
}