---
layout: default
---
<div id="postContent" class="commonBlockPanel">
	<div id="postCoverViewPort">
		<div id="postCoverImg" class="coverImg">
			<img src="{{ page.innerCover }}" id="img" />
		</div>
	</div>
	<div id="passageInfo">
		<div id="title">{{ page.title }}</div>
		<div id="subInfo">
			<span id="datetime">{{ page.date | date: "%Y-%m-%d %H:%M" }}</span>
			<ul id="tags">
				{% for tag in page.tags %}
				<li>{{ tag }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div id="postText">
		{{ content }}
	</div>
</div>
<div id="postBottom" class="commonBlockPanel">
	<div id="bottomJump">
		{% if page.previous %}
		<a id="pre" href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}">Pre</a>
		{% else %}
		<span>The end</span>
		{% endif %}
		{% if page.next %}
		<a id="next" href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}">Next</a>
		{% else %}
		<span>咕咕咕</span>
		{% endif %}
	</div>
</div>